.mobileSide {
    position: fixed;
    overflow: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--main-background-color);
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    z-index: 100;
    gap: 1rem;
}

.mobileSide svg {
    stroke: var(--main-color);
    stroke-width: 0.5;
}

.linkMobileSide {
    text-decoration: none;
    color: var(--main-color);
}

.mobileSide div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mobileSide div span:first-child {
    padding: 1rem;
    background-color: var(--main-background-color-two);
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
}